@tailwind base;
@tailwind components;
@tailwind utilities;

#homeBg {
  background-image: url(./assets/32490131_dian7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  left: 25vw;
  overflow-y: scroll;
  /* color: white; */
}

#card:hover {
  transform: scale(1.03);
  transition-duration: 0.5s;

}

#card {
  box-shadow: 2px 2px 10px rgb(177, 177, 177);
}